@charset "UTF-8";

  body, header, div, footer, ul, li, p, h1 {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #444;
  }
  
  header{
    text-align:center;
    border: 1px solid;
  }
  
  .lnb {
    margin: 5px;
    border: 1px solid;
    text-align: center;
  }

  .gnb li {
    display: inline-block;
    padding: 10px;
  }
  
  #contents {
    background-color:#aaa;
    border: 1px solid;
    padding: 10px;
    float: left;
    width: 80%;
  }
  
  #aside {
    background-color:#ddd;
    border: 1px solid;
    padding: 10px;
  }
  
  footer {
    background-color:#eee;
    border: 1px solid;
    clear:both;
    text-align:center;
  }