@charset "UTF-8";
  body, header, div, footer, h1m, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 1920px;
    height: 1080px;  
  }
  
  .banner {
    border: 1px solid;
    height: 100px;
  }
  
  .banner a {
    text-decoration: none;
    color: #000;
  }
  
  .menu-bar {
    margin: 30px;
    border: 1px solid;
  }
  
  .menu {
    list-style-type: none;
    margin: 10px;
    text-align: center;
  }
  
  .menu li {
    display: inline-block;
    padding: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #000;
  }
  
  .contents {
    margin: 30px;
    border: 1px solid;
  }
  
  .login_box {
    width: 280px;
    margin: 0;
    position: absolute;
    top: 135px;
    right: 10px;
  }
  
  .login {
  }
  
  .first_contents{
    margin: 0;
    border: 1px solid;
  }
  
  footer {
    text-align: center;
    border: 1px solid;
  }