<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <!-- 해당 설정파일에서 사용하는 프로퍼티 -->
  <Properties>
    <Property name="logNm">PCWK</Property>
    <Property name="layoutPattern">[%d{yyyyMMdd HH:mm:ss}] %-5p %C{1}.%M(%F:%L) - %m%n</Property>
  </Properties>
  <!-- LogEvent를 전달해주는 Appender -->
  <Appenders>
    <Console name="Console_Appender" target="SYSTEM_OUT">
      <PatternLayout pattern="${layoutPattern}" />
    </Console>
    <RollingFile name="File_Appender"
      fileName="logs/${logNm}.log"
      filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
      <PatternLayout pattern="${layoutPattern}" />
      <Policies>
        <SizeBasedTriggeringPolicy size="5KB" />
        <TimeBasedTriggeringPolicy interval="1" />
      </Policies>
      <DefaultRolloverStrategy max="10"
        fileIndex="min" />
    </RollingFile>   
  </Appenders>
  <!-- 실제 Logger -->
  <Loggers>
    <Root level="DEBUG" additivity="false">
      <AppenderRef ref="Console_Appender" />
      <AppenderRef ref="File_Appender" />
    </Root>

    <Logger name="org.springframework" level="DEBUG"
      additivity="false">
      <AppenderRef ref="Console_Appender" />
      <AppenderRef ref="File_Appender" />
    </Logger>
    <Logger name="org.springframework.core" level="DEBUG"
      additivity="false">
      <AppenderRef ref="Console_Appender" />
      <AppenderRef ref="File_Appender" />
    </Logger>
    <Logger name="org.springframework.beans" level="DEBUG"
      additivity="false">
      <AppenderRef ref="Console_Appender" />
      <AppenderRef ref="File_Appender" />
    </Logger>

    <Logger name="org.springframework.context" level="DEBUG"
      additivity="false">
      <AppenderRef ref="Console_Appender" />
      <AppenderRef ref="File_Appender" />
    </Logger>

    <Logger name="org.springframework.web" level="INFO"
      additivity="false">
      <AppenderRef ref="Console_Appender" />
      <AppenderRef ref="File_Appender" />
    </Logger>

    <logger name="jdbc.sqlonly" additivity="false">
      <appender-ref ref="Console_Appender" level="DEBUG" />
    </logger>
    <logger name="jdbc.sqltiming" additivity="false">
      <appender-ref ref="Console_Appender" level="DEBUG" />
    </logger>
    <logger name="jdbc.audit" additivity="false">
      <appender-ref ref="Console_Appender" level="DEBUG" />
    </logger>

    <logger name="jdbc.resultset" additivity="false">
       <appender-ref ref="Console_Appender" level="DEBUG" />
    </logger>

     <logger name="jdbc.resultsettable" additivity="false">
      <appender-ref ref="Console_Appender" level="DEBUG" />
    </logger>
  </Loggers>
</Configuration>

