@charset "UTF-8";
body{
	background-image: url("/PC_HTML/assets/imgs/bg_grid.gif");
}

.border_p1{
	border: 3px solid red;
	background-color: rgba(110,110,255,0.5);
}
.border_p2{
	border: 3px dotted red;
	background-color: rgba(110,110,255,0.5);
}
.border_p3{
	border: 3px dashed red;
	background-color: rgba(110,110,255,0.5);
}
.border_p4{
	border: 3px double red;
	background-color: rgba(110,110,255,0.5);
}
.border_p5{
	border: 3px groove red;
	background-color: rgba(110,110,255,0.5);
}
.border_p6{
	border: 3px ridge red;
	background-color: rgba(110,110,255,0.5);
}
.border_p7{
	border: 3px inset red;
	background-color: rgba(110,110,255,0.5);
}
.border_p8{
	border: 3px outset red;
	background-color: rgba(110,110,255,0.5);
}
.brdr {
	border-top: 3px solid red;
	border-bottom: 3px solid red;
}